*{
	margin: 0px;
	padding: 0px;
	
}
body {
font-family: 'Roboto', sans-serif;
 margin-bottom: 450px;
 background-image: linear-gradient(ghostwhite,white,ghostwhite);
 
}
.social-bar
{
	position: fixed;
	left: 0px;
	top: 40%;	
	z-index:3;
}
.social-bar ul
{
	list-style: none;
}
.social-bar ul li a
{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 250ms ease;
} 
.social-bar ul li .icon-facebook2{ background:blue; }
.social-bar ul li .icon-whatsapp{ background:#25d366; }
.social-bar ul li .icon-envelope{ background:gray; }
.social-bar ul li .icon-location{ background:red; }

.social-bar ul li a:hover
{	
	padding: 10px 30px;	
} 



.header{
	position: fixed;
	width: 100%;
    z-index: 100;	
}

.main{
	margin-bottom: 20px;overflow: hidden;
	position: relative;  transform: translateY(106px);
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
	transition: all .1s ease; 
}
.navbar{
background-image: linear-gradient(rgb(2, 103, 179),  rgba(24,103,169,0.95));
     
}
.nav-link:hover {
    transform: scale(1.1); 
}

#contenedor aside{
transition: all .1s ease;  }
#contenedor aside:hover{
 transform: scale(1.2); 
 }
#row1{
	 background-color:  rgba(0,0,0,0.4);
	 position: relative;
			width: 122.7%;
			transform: translateX(-10%);
			
}

#articulo{
	
	transform: translateY(10%);
}
.carousel-inner       {
            width: 100%;
            height: 450px;
}
.carousel-item       {
          width: 90%;
            height: 450px;	
            overflow: hidden;
            transform: translateX(7.5%);
}
.carousel-control-next{
	transform: translateX(100%);
}
.carousel-control-prev{
	transform: translateX(-65%);
}
#row2{
	 background-color:  rgba(0,0,0,0.7);
	 position: relative;
			
}

#CARRUSEL .carousel-inner       {
            width: 100%;
            height: 350px;
}
#CARRUSEL .carousel-item       {
            width: 100%;
            overflow: hidden;
}
#next{
	transform: translateX(50%);

}
#prev{
 transform: translateX(-60px);

 }

.col-md-5{
	transform: translateY(-20px);
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing .col-lg-4 a{
    background-color:   #20B2AA;
}

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Roboto', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  transform: translateY(80px);
  z-index:4;
}

footer {
  background-color: #292c2f;
  color:white;
}

footer a {
  color: white;
  text-decoration:none;
}



footer .form-control{
	background-color: rgba(255, 255, 255,1);

}
footer .btn{
	background-color: rgba(255, 255, 255, 0.8);
}
footer .btn:hover{
	background-color:white;
}

.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
   .modal-lg {
    width: 100%;
  } 
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
 
.collapse .card{
	background-color: white;
	box-shadow: 0px 0px 10px 1px rgba(138,138,138,1);
	 top:0;
	transition: transform .2s; 	
}

.collapse .card:hover{
    transform: scale(1.08); 
 
}


