.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    
}
.table-wrapper{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.72);
}
.btn-outline-secondary {
   color: rgba(255, 255, 255, 0.72);
    border-color: #ffffffa8;
}
.sidebar-heading{
	color: rgba(255, 255, 255, 0.9);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
      background-color: #33C9FF;

}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 130%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
