@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t5oith');
  src:  url('fonts/icomoon.eot?t5oith#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t5oith') format('truetype'),
    url('fonts/icomoon.woff?t5oith') format('woff'),
    url('fonts/icomoon.svg?t5oith#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
